@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-container {
  width: 100vh;
  height: 100vh;
}

.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  width: max-content;
  animation: marquee 100s linear infinite;
  white-space: nowrap;
}